In [1]:
import pandas as pd
import numpy as np

In [7]:
df_kfold = pd.read_excel('result/TransMCA_GEP_CNV_11Fold.xlsx')
# 将MSE、Pearson和R2列的数据转换为数值型
df_kfold['MSE'] = pd.to_numeric(df_kfold['MSE'], errors='coerce')
df_kfold['Pearson'] = pd.to_numeric(df_kfold['Pearson'], errors='coerce')
df_kfold['R2'] = pd.to_numeric(df_kfold['R2'], errors='coerce')
df_kfold.head(11)

    Fold     MSE  Pearson      R2
0      1  0.9456   0.9385  0.8761
1      2  0.9634   0.9356  0.8680
2      3  0.9660   0.9375  0.8717
3      4  1.0055   0.9343  0.8665
4      5  0.9664   0.9369  0.8708
5      6  0.9530   0.9377  0.8744
6      7  0.9442   0.9377  0.8739
7      8  0.9787   0.9362  0.8695
8      9  0.9686   0.9360  0.8686
9     10  0.9748   0.9350  0.8675
10    11  0.9621   0.9369  0.8712

In [8]:
# 计算df_kfold中MSE的均值和标准差
MSE_mean = df_kfold['MSE'].mean()
MSE_std = df_kfold['MSE'].std()
# 以平均值±1.96×标准差 展示 ,保留4位小数
print(MSE_mean,'±',MSE_std)

0.9662090909090909 ± 0.016993496082057677

In [9]:
# 计算df_kfold中Pearson的均值和标准差
Pearson_mean = df_kfold['Pearson'].mean()
Pearson_std = df_kfold['Pearson'].std()
# 以平均值±1.96×标准差 展示
print(Pearson_mean,'±',Pearson_std)

0.9365727272727273 ± 0.0012799147698896872

In [10]:
# 计算df_kfold中R2的均值和标准差
R2_mean = df_kfold['R2'].mean()
R2_std = df_kfold['R2'].std()
# 以平均值±1.96×标准差 展示
print(R2_mean,'±',R2_std)

0.8707454545454546 ± 0.003087835370081627