In [1]:
import pandas as pd
import numpy as np

In [8]:
df_kfold = pd.read_excel('result/TransMCA_GEP_11Fold.xlsx')
# 将MSE、Pearson和R2列的数据转换为数值型
df_kfold['MSE'] = pd.to_numeric(df_kfold['MSE'], errors='coerce')
df_kfold['Pearson'] = pd.to_numeric(df_kfold['Pearson'], errors='coerce')
df_kfold['R2'] = pd.to_numeric(df_kfold['R2'], errors='coerce')
df_kfold.head(11)

    Fold     MSE  Pearson      R2
0      1  0.9338   0.9391  0.8757
1      2  0.9981   0.9330  0.8644
2      3  0.9521   0.9388  0.8742
3      4  1.0436   0.9322  0.8617
4      5  0.9310   0.9392  0.8759
5      6  0.9628   0.9366  0.8711
6      7  0.8963   0.9408  0.8779
7      8  1.1075   0.9280  0.8513
8      9  1.0007   0.9345  0.8675
9     10  0.9800   0.9356  0.8701
10    11  0.9975   0.9349  0.8659

In [17]:
# 计算df_kfold中MSE的均值和标准差
MSE_mean = df_kfold['MSE'].mean()
MSE_std = df_kfold['MSE'].std()
# 以平均值±1.96×标准差 展示 ,保留4位小数
print(MSE_mean,'±',MSE_std)

0.9821272727272728 ± 0.05824874403640117

In [18]:
# 计算df_kfold中Pearson的均值和标准差
Pearson_mean = df_kfold['Pearson'].mean()
Pearson_std = df_kfold['Pearson'].std()
# 以平均值±1.96×标准差 展示
print(Pearson_mean,'±',Pearson_std)

0.9357000000000002 ± 0.003757126561615924

In [19]:
# 计算df_kfold中R2的均值和标准差
R2_mean = df_kfold['R2'].mean()
R2_std = df_kfold['R2'].std()
# 以平均值±1.96×标准差 展示
print(R2_mean,'±',R2_std)

0.8687 ± 0.007765178684357511